html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400; }

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 30px;
    padding-left: 30px; } }

@media (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-right: 40px;
    padding-left: 40px; } }

@media (min-width: 1440px) {
  .container {
    width: 1440px; } }

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  height: 268px;
  width: 290px;
  margin-bottom: 16px; }
  .catalog__item img {
    height: 182px;
    width: 290px;
    border-radius: 10px; }
  .catalog__item li {
    list-style-type: none; }

.catalog__price {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 16px;
  font-weight: 700; }

.catalog__name {
  font-weight: 400;
  font-size: 16px;
  color: #374044; }
  .catalog__name span {
    font-weight: 700;
    font-size: 16px; }

.catalog__button {
  width: 290px;
  height: 64px;
  font-size: 16px;
  color: #ABB3B7;
  background-color: #f3f3f3;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
  border-radius: 10px;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .catalog__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 652px; }
  .catalog__button {
    width: 675px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }

@media (min-width: 1024px) {
  .catalog {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none; }
  .catalog__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 652px; }
  .catalog__button {
    width: 609px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: -316px;
    margin-bottom: 80px;
    margin-top: 30px; } }

@media (min-width: 1440px) {
  .catalog__product {
    width: 949px; }
  .catalog__button {
    margin-left: -328px;
    width: 953px; } }

footer {
  height: 747px;
  background-color: #374044; }

.open-filter {
  height: 46px;
  width: 289px;
  color: white;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#27a8dd), to(#1a7fb8));
  background: linear-gradient(to right, #27a8dd, #1a7fb8);
  border: none;
  border-radius: 10px; }
  .open-filter span {
    padding-left: 30px;
    height: 50px;
    display: inline-block;
    padding-top: 14px; }

.open-filter::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(/img/filter.svg) no-repeat;
  background-position-y: 9px; }

@media (min-width: 768px) {
  .open-filter {
    width: 675px; } }

@media (min-width: 1024px) {
  .open-filter {
    display: none; } }

.heading {
  padding-left: 0; }
  .heading li {
    display: inline; }
  .heading li:nth-child(1)::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 60px;
    background: url("/img/Vector.svg") no-repeat; }
  .heading li:nth-child(2) {
    padding-left: 14px; }
    .heading li:nth-child(2) a {
      padding-left: 26px; }
  .heading li:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 30px;
    background: url("/img/Vector2.svg") no-repeat; }

.heading::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 4px;
  left: 0px;
  top: 130px;
  background: #f3f3f3; }

.heading::before {
  content: "";
  position: absolute;
  width: 104px;
  height: 4px;
  left: 15px;
  top: 130px;
  background: #27a8dd;
  border-radius: 2px;
  z-index: 1; }

.heading__shoes {
  color: #27a8dd;
  font-size: 20px; }
  .heading__shoes a {
    padding-left: 36px; }

.heading__other {
  color: #545c60;
  font-size: 20px; }

@media (min-width: 768px) {
  .heading {
    padding-left: 20px; }
  .heading::before {
    left: 46px; }
  .heading::after {
    width: 690px;
    left: 45px; } }

@media (min-width: 1024px) {
  .heading::before {
    left: 57px; }
  .heading::after {
    width: 923px;
    left: 58px; }
  .heading li:nth-child(2) ::before {
    left: 158px; } }

@media (min-width: 1440px) {
  .heading {
    padding-left: 70px; }
  .heading::after {
    width: 1250px;
    left: 105px; }
  .heading::before {
    left: 105px; }
  .heading li:nth-child(2) ::before {
    left: 222px; } }

.catalog-info {
  text-align: center;
  font-size: 36px;
  font-weight: 700; }

.open-position {
  padding-left: 0;
  color: #545c60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .open-position li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .open-position li:nth-child(4) {
    position: absolute;
    padding-left: 172px; }
  .open-position li:nth-child(4)::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 56px;
    left: 270px;
    top: -40px;
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%); }

.open-position__price {
  color: #27a8dd;
  width: 71px; }

.open-position__price ::after {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 7px solid #27a8dd; }

@media (min-width: 320px) {
  .open-position__hidden {
    display: none !important; } }

@media (min-width: 768px) {
  .open-position__hidden {
    display: inline-block !important;
    padding-right: 16px;
    color: #ABB3B7; }
  .open-position {
    padding-left: 0;
    color: #545c60;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .open-position li:nth-child(4) {
      padding-left: 268px; }
    .open-position li:nth-child(4)::after {
      display: none; } }

@media (min-width: 1440px) {
  .open-position {
    padding-left: 70px; } }

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 214px;
  height: 36px;
  margin-bottom: 20px;
  margin-left: -50px;
  font-size: 0;
  background-color: #f3f3f3;
  border: 2px solid #f3f3f3;
  border-radius: 5px; }

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 43px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer; }

.price-controls .min-price,
.price-controls .max-price {
  color: black;
  padding-left: 30px; }

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none; }

.range-controls {
  position: relative;
  margin-left: -48px;
  margin-bottom: 32px; }

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3); }

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #27a8dd; }

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #E7E7E7;
  border: 8px solid #E7E7E7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

.range-toggle:hover {
  background: #1c4f80; }

.range-toggle-min {
  left: 0; }

.range-toggle-max {
  left: 56%; }

@media (min-width: 320px) {
  .filter {
    display: none; } }

@media (min-width: 1024px) {
  .filter {
    display: block;
    width: 290px;
    height: 435px;
    padding-left: 24px; }
  .filter__info {
    font-size: 16px;
    font-weight: 700; }
  .filter__price {
    font-size: 16px;
    font-weight: 700; }
  .filter__range {
    width: 161px;
    margin: 50px auto;
    margin-top: 10px;
    color: #ffffff; }
  .filter__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none; }
    .filter__first input[type="checkbox"]:checked,
    .filter__first input[type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px; }
    .filter__first input[type="checkbox"]:checked + label,
    .filter__first input[type="checkbox"]:not(:checked) + label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer; }
    .filter__first input[type="checkbox"]:checked + label:before,
    .filter__first input[type="checkbox"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 19px;
      height: 18px;
      border: 2px solid #27a8dd;
      border-radius: 3px;
      background-color: #ffffff; }
    .filter__first input[type="checkbox"]:checked + label:after,
    .filter__first input[type="checkbox"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .filter__first input[type="checkbox"]:checked + label:after,
    .filter__first input[type="checkbox"]:not(:checked) + label:after {
      left: 3px;
      top: 2px;
      width: 16px;
      height: 10px;
      border-radius: 1px;
      border-left: 4px solid #27a8dd;
      border-bottom: 4px solid #27a8dd;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .filter__first input[type="checkbox"]:not(:checked) + label:after {
      opacity: 0; }
    .filter__first input[type="checkbox"]:checked + label:after {
      opacity: 1; }
  .filter__second {
    border: none; }
  .filter__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 33px; }
    .filter__second input[type="radio"] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px; }
    .filter__second label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 37px;
      margin-bottom: 10px;
      margin-top: 10px;
      color: #515151; }
    .filter__second input + label {
      position: relative;
      padding: 8px 0 0 35px;
      cursor: pointer; }
    .filter__second input + label::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #27a8dd;
      border-radius: 50%;
      background: white; }
    .filter__second input + label::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #27a8dd;
      opacity: 0;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .filter__second input:checked + label::before {
      background-color: white; }
    .filter__second input:checked + label::after {
      opacity: 1; } }

@media (min-width: 1024px) {
  .filter-position {
    width: 290px;
    height: 435px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media (min-width: 1440px) {
  .filter-position {
    margin-left: -60px; } }

/*# sourceMappingURL=style.css.map */
