@media (min-width: $mobile-width-only) {
  .filter {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    display: block;
    width: 290px;
    height: 435px;
    padding-left: 24px;
  }
  .filter__price {
    font-size: 16px;
    font-weight: 700;
  }

  .filter__range {
    width: 161px;
    margin: 50px auto;
    margin-top: 10px;
    color: #ffffff;
  }

  .filter__first {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .filter__second {
    display: flex;
    flex-direction: column;
    border: none;
  }
}
