@media (min-width: $mobile-width-only) {
  .filter {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    display: block;
    width: 290px;
    height: 435px;
    padding-left: 24px;
  }

  .filter__info {
    font-size: 16px;
    font-weight: 700;
  }
  .filter__price {
    font-size: 16px;
    font-weight: 700;
  }

  .filter__range {
    width: 161px;
    margin: 15px auto;
    margin-top: 10px;
    color: #ffffff;
  }

  .filter__first {
    display: flex;
    flex-direction: column;
    border: none;

    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 19px;
      height: 18px;
      border: 2px solid #27a8dd;
      border-radius: 3px;
      background-color: #ffffff;
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      left: 3px;
      top: 2px;
      width: 16px;
      height: 10px;
      border-radius: 1px;
      border-left: 4px solid #27a8dd;
      border-bottom: 4px solid #27a8dd;
      transform: rotate(-45deg);
    }
    input[type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
    }
    input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
  }

  .filter__second {
    border: none;
  }

  .filter__second {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 33px;

    input[type="radio"] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 7px;
    }

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 37px;
      margin-bottom: 10px;
      margin-top: 10px;
      color: #515151;
    }

    input + label {
      position: relative;
      padding: 8px 0 0 35px;
      cursor: pointer;
    }

    input + label::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #27a8dd;
      border-radius: 50%;
      background: white;
    }

    input + label::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #27a8dd;
      opacity: 0;
      transition: 0.2s;
    }

    input:checked + label::before {
      background-color: white;
    }

    input:checked + label::after {
      opacity: 1;
    }
  }
}
