.heading {
  padding-left: 0;
  li {
    display: inline;
  }
  li:nth-child(1)::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 60px;
    background: url("/img/Vector.svg") no-repeat;
  }
  li:nth-child(2) {
    padding-left: 50px;
  }

  li:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 30px;
    left: 135px;
    background: url("/img/Vector2.svg") no-repeat;
  }
}

.heading__shoes {
  color: #27a8dd;
  font-size: 20px;
  a {
    padding-left: 36px;
  }
}

.heading__other {
  color: #545c60;
  font-size: 20px;
}

@media (min-width: $desktop-width) {
  .heading li:nth-child(2) ::before {
    left: 158px;
  }
}

@media (min-width: $full-width) {
  .heading {
    padding-left: 70px;
  }

  .heading li:nth-child(2) ::before {
    left: 222px;
  }
}
