.price-controls {
  display: flex;
  position: relative;
  width: 214px;
  height: 36px;
  margin-bottom: 20px;
  margin-left: -67px;
  font-size: 0;
  background-color: #f3f3f3;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 43px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  color: black;
  padding-left: 30px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
