.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #E7E7E7;;
  border: 8px solid #E7E7E7;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 56%;
}
